body{
    font-family: 'Manrope', sans-serif;
}
.painel{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    height: 100vh;
}
.cartao{
    background-color: var(--advice-card-color); 
    max-width: 440px;
    text-align: center;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartao .nome{
    color: var(--advice-dice-color);
    display: inline-block;
    font-size: 12px;
    padding: 15px;
}
.cartao .conteudo{
    color: var(--text-color);
    padding: 15px 0;
    line-height: 30px;
}
.cartao .divider{
    width: 100%;
    justify-content: center;
    padding: 15px 10px;
}

.cartao .botao{
    background-color: var(--advice-dice-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.cartao .caixa{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.botao .icon{
    width: 18px;
}
@media(max-width:429px) {
    .cartao{
     max-width: 320px;
    }
}